
// sass-lint:disable no-qualifying-elements
// sass-lint:disable no-important

@import "vendor/bootstrap/bootstrap/variables";
@import "vendor/bootstrap/bootstrap/media";
@import "variables";
@import "typography";
@import "components/flex-row";
@import "utility-classes";

$color-event-blue-dark: #14125b;
$color-event-black: #222222;

body {
  background: $color-white;
}

.navbar {
  box-shadow: none;
}

.container {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1,
h2,
h3:not(.footer-link-title) {
  color: $color-event-blue-dark;
}

.gitlab-content-container-full,
.gitlab-content-container {
  padding: 0;
  margin: 0;
  max-width: none;

  img {
    border-radius: 8px;
  }
}

.commit-content {
  padding-right: 0;

  .column-register {
    height: 300px;
    padding: 0;
  }

  .row {
    margin-left: auto;
    margin-right: auto;
  }
}

.container-flex {
  display: flex;

  h3 {
    margin-top: 8px;
  }
}

/* SECTION STRIPING */

.highlight-black {
  background-color: $color-event-black;

  * {
    color: $color-white;
  }
}

.highlight-gray {
  background: $color-gray-extra-light;

  h1 {
    color: #333333;
  }
}

.highlight-purple {
  background-color: $color-primary;

  * {
    color: $color-white;
  }
}

div[class^="highlight"] {
  position: relative;
}

div[class^="highlight"]:before {
  content: "";
  display: block;
  height: 35px;
  position: absolute;
  top: -35px;
  width: 100%;
  z-index: -1;
}

div[class^="highlight"]:after {
  bottom: -35px;
  content: "";
  display: block;
  height: 35px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.highlight-black:before {
  background-image: linear-gradient(to right top, $color-event-black 0%, $color-event-black 48%, transparent 50%);
}

.highlight-black:after {
  background-image: linear-gradient(to left bottom, $color-event-black 0%, $color-event-black 48%, transparent 50%);
}

.highlight-gray:before {
  background-image: linear-gradient(to right top, $color-gray-extra-light 0%, $color-gray-extra-light 48%, transparent 50%);
}

.highlight-gray:after {
  background-image: linear-gradient(to left bottom, $color-gray-extra-light 0%, $color-gray-extra-light 48%, transparent 50%);
}

.highlight-purple:before {
  background-image: linear-gradient(to right top, $color-primary 0%, $color-primary 48%, transparent 50%);
}

.highlight-purple:after {
  background-image: linear-gradient(to left bottom, $color-primary 0%, $color-primary 48%, transparent 50%);
}

/* HERO */

.hero-section {
  margin-top: 5px;
  position: relative;
}

.hero-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  * {
    color: $color-white;
  }
}

.hero-content h2 {
  font-size: 60px;
  line-height: .9em;
  margin: 0 auto;
  text-shadow: 2px 2px 2px rgba(0,0,0,.4);
}

@media (max-width: 481px) {
  .hero-content {
    font-size: .7em;
  }
}

/* INTRO */

/* WHY */

#why.highlight-purple:before {
  display: none;
}

/* PROPOSALS */

/* PAST EVENTS */

#past .cta-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto 35px;
  width: 140px;
}

/* SPEAKERS */

.container-speaker {
  .crop-speaker-photo {
    filter: grayscale(100%);
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .speaker-photo {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

  .speaker-name {
    margin-bottom: 5px;
  }

  .speaker-title {
    margin: 0;
  }
}

#speakers .col-md-4 {
  display: inline-block;
  float: none;
  min-width: 290px;
  text-align: center;
  vertical-align: top;
  width: 32%;
}

body .footer {
  margin-top: 0;
}

@media (max-width: $grid-float-breakpoint) {
  .col-md-5 {
    margin: 0 20px 40px;
  }

  .text-left {
    text-align: center;
  }

  .container-flex {
    justify-content: center;
  }
}

/* SPONSORS */

.customer-logos-container {
  padding-top: 0;
}

.customer-logos-container .logos-container svg {
  height: 75px;
  max-width: 165px;
}

/* MOBILE */

@media (max-width: 719px) {

  #intro img {
    display: none;
  }

  #why img {
    display: none;
  }

  #why .u-margin-bottom-md {
    margin-bottom: 0;
  }

  #why .col-md-5 {
    margin-bottom: 0;
  }

  #speakers .container-speaker .crop-speaker-photo {
    display: none;
  }

  #speakers .container-speaker .speaker-name {
    font-size: 100%;
  }

  #speakers .container-speaker .speaker-title {
    font-size: 90%;
    font-weight: 400;
    opacity: .85;
  }

  #speakers .container-speaker .speaker-company {
    font-size: 90%;
    opacity: .85;
  }

  #past .column-register {
    background: none !important;
    height: inherit;
    margin-bottom: 0;
  }

  #past .cta-btn {
    font-size: 0;
    margin: 0 auto 10px auto;
    position: static;
  }

  #past .cta-btn[href="/events/commit/brooklyn/"]:after {
    content: "Brooklyn";
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    vertical-align: middle;
  }

  #past .cta-btn[href="/events/commit/london/"]:after {
    content: "London";
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    vertical-align: middle;
  }

}
