%div.experiment-container.experiment-test

  .wrapper.gitlab-ee-page
    .header-hero-banner.header-hero-banner--reduce-cycle
      .container
        .row
          .col-md-8
            %h1.jumbo-heading Deliver better products faster
            %h4.u-margin-top-sm Learn how a complete DevOps platform in a single application gives your DevOps teams the visibility, collaboration, and speed to truly deliver continuously.
            .u-margin-top-sm
              .btn.cta-btn.orange.orange-light.form-lightbox-open
                Read the Whitepaper
          .col-md-3.col-md-offset-1
            = image_tag "/images/experiments/6595-whitepaper-framed.png"

    .sub-wrapper.main-content
      .container
        .row
          .col-md-12
            %h3 What you will learn 
            %ul
              %li How a concurrent DevOps framework helps your team write better code and spend less time waiting on tools
              %li Why individual tools lead to silos across your team
              %li How a single application helps your team shift security left and delivery quality code without compromises
              %li How cycle analytics help you improve your speed to market

  .just-commit-highlight-row.just-commit-logo-wrap
    = partial "includes/home/customer-logos-transparent"

  .wrapper-dark
    .just-commit-sales-wrap
      = partial "includes/contact-sales"

  .bl-modal#form-for-whitepaper
    %span.bl-modal-close
    .bl-modal-content
      = partial "includes/form-to-resource-multiple", locals: {data_form_instance: "two", form_id: "1002", form_type: "resources", cta_title: "Deliver better products faster", cta_subtitle: "Please tell us where to send the whitepaper you requested.", link_text: "Thanks! Click here to view your content.", success_message: "You will also receive a copy of the whitepaper to your inbox shortly.", destination_url: "https://learn.gitlab.com/c/gitlab-concurrent-de?x=QnKq41&lb_email="}
  <script src="/javascripts/bl-modal.js" type="text/javascript" data-cookieconsent="ignore"></script>
  %script{type: "text/javascript", "data-cookieconsent": "ignore"}
    :plain
      blOpenModal('.form-lightbox-open', '#form-for-whitepaper');
